body{
    display: grid;
    grid-template-rows: 10px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: beige;
    gap: 70px;
}

header{
    grid-area: header;
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 25px;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr .5fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 7fr; 
    grid-template-areas: "buttonHome" "survey"
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey; /* (1)! */
}

#placeForButtons{
    grid-area: buttonHome; /* (2)! */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #04AA6D;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
